<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
  <meta charset="UTF-8">
  <title>TravelTreasures</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
  <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>
<body>
<div class="container">
  <ul class="menu">
    <li class="menu-logo-container">
      <a href="#" th:href="@{/}">
        <i class="fa-sharp fa-light fa-treasure-chest"></i> TravelTreasures
      </a>
    </li>
    <li class="menu-toggle">
      <a href="#"><i id="toggle-icon" class="far fa-plus-square"></i></a>
    </li>
    <li class="menu-item" sec:authorize="hasAnyRole('ADMIN')">
      <a href="#" th:href="@{/admin}">Zarządzanie</a>
    </li>
    <li class="menu-item">
      <a href="#" th:href="@{/treasure/add-treasure}" sec:authorize="isAuthenticated()">Dodaj znalezisko</a>
    </li>
    <li class="menu-item" sec:authorize="hasAnyRole('ADMIN', 'USER')">
      <a href="#" th:href="@{/categories}">Kategorie</a>
    </li>
    <li class="menu-item">
      <a href="#" sec:authorize="isAuthenticated()">Profil</a>
    </li>
    <li class="menu-item">
      <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">Zaloguj się</a>
      <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()">Wyloguj się</a>
    </li>
  </ul>
  <header class="jumbotron">
    <h1 class="jumbotron-header">Travel Treasures</h1>
    <p class="jumbotron-description">
      Najtańsze loty, noclegi i wypożyczalnie. Dziel się z innymi swoimi skarbami i korzystaj z cudzych znalezisk!
    </p>
  </header>
  <main class="main-content">
    <h2 class="list-heading" th:text="${heading}">Opcje</h2>
    <ul class="list-border">
      <li><a href="#" th:href="@{admin/delete-user}">Usuń uzytkownika</a></li>
    </ul>
  </main>
  <footer class="footer">
    <p>TravelTreasures 2023 <i class="fas fa-copyright"></i> github.com/bartkoo98</p>
  </footer>
</div>
</body>
</html>