<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div class="container">
    <main class="main-content">
        <h2 class="list-heading" th:text="${heading}">Promowane znaleziska / Nazwa Kategorii</h2>
        <p class="list-description">Opis sekcji, przykładowo opis kategorii, albo strony głównej</p>
        <ul class="treasure-list" th:remove="all-but-first">
            <li class="treasure-list-item" th:each="treasure: ${treasures}">
                <a href="#" th:href="@{|/treasure/${treasure.id}|}">
                    <img src="../static/img/poster-placeholder.png" th:src="@{/img/poster-placeholder.png}"
                         alt="tytuł filmu"
                         class="treasure-list-item-poster">
                </a>
                <div class="treasure-list-item-card">
                    <div class="treasure-list-item-content">
                        <h3 class="treasure-list-item-title">
                            <a href="#" th:href="@{|/treasure/${treasure.id}|}" th:text="${treasure.title}">Tytul znaleziska</a>
                        </h3>
                        <h4 th:text="${treasure.destination}">Gdzie?</h4>
                        <h4 th:text="${treasure.dates}">Kiedy?</h4>
                        <h4 th:text="${treasure.price} + zł" >Cena?</h4>
                        <h4 th:text="${treasure.link}">Link</h4>
                        <p th:text="${treasure.description}">Krotki opis</p>
                    </div>
                    <div class="treasure-list-item-rating">
                        <i class="fas fa-star"></i>
                        <span>8.7</span>
                    </div>
                </div>
            </li>
            <li class="treasure-list-item">
                <a href="#">
                    <img src="../static/img/poster-placeholder.png"
                         alt="tytuł filmu"
                         class="treasure-list-item-poster">
                </a>
                <div class="treasure-list-item-card">
                    <div class="treasure-list-item-content">
                        <h3 class="treasure-list-item-title">
                            <a href="#">Tytul znaleziska</a>
                        </h3>
                        <h4>Gdzie?</h4>
                        <h4>Kiedy?</h4>
                        <h4>Cena?</h4>
                        <h4>Link</h4>
                        <p>Krotki opis</p>
                    </div>
                    <div class="treasure-list-item-rating">
                        <i class="fas fa-star"></i>
                        <span>8.7</span>
                    </div>
                </div>
            </li>
            <li class="treasure-list-item">
                <a href="#">
                    <img src="../static/img/poster-placeholder.png"
                         alt="tytuł filmu"
                         class="treasure-list-item-poster">
                </a>
                <div class="treasure-list-item-card">
                    <div class="treasure-list-item-content">
                        <h3 class="treasure-list-item-title">
                            <a href="#">Tytul znaleziska</a>
                        </h3>
                        <h4>Gdzie?</h4>
                        <h4>Kiedy?</h4>
                        <h4>Cena?</h4>
                        <h4>Link</h4>
                        <p>Krotki opis</p>
                    </div>
                    <div class="treasure-list-item-rating">
                        <i class="fas fa-star"></i>
                        <span>8.7</span>
                    </div>
                </div>
            </li>
        </ul>
    </main>
</div>
</body>
</html>