<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
    <meta charset="UTF-8">
    <title>TravelTreasures</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>
<body>
<div class="container">
    <ul class="menu">
        <li class="menu-logo-container">
            <a href="#" th:href="@{/}">
                <i class="fa-sharp fa-light fa-treasure-chest"></i> TravelTreasures
            </a>
        </li>
        <li class="menu-toggle">
            <a href="#"><i id="toggle-icon" class="far fa-plus-square"></i></a>
        </li>
        <li class="menu-item" sec:authorize="hasAnyRole('ADMIN')">
            <a href="#" th:href="@{/admin}">Zarządzanie</a>
        </li>
        <li class="menu-item">
            <a href="#" th:href="@{/treasure/add-treasure}" sec:authorize="isAuthenticated()">Dodaj znalezisko</a>
        </li>
        <li class="menu-item">
            <a href="#" th:href="@{/categories}">Kategorie</a>
        </li>
        <li class="menu-item">
            <a href="#" sec:authorize="isAuthenticated()">Profil</a>
        </li>
        <li class="menu-item">
            <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">Zaloguj się</a>
            <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()">Wyloguj się</a>
        </li>
    </ul>
    <header class="jumbotron">
        <h1 class="jumbotron-header">Travel Treasures</h1>
        <p class="jumbotron-description">
            Najtańsze loty, noclegi i wypożyczalnie. Dziel się z innymi swoimi skarbami i korzystaj z cudzych znalezisk!
        </p>
    </header>
    <main class="main-content">
        <section class="treasure">
            <div class="treasure-summary">
                <img src="../static/img/photo-placeholder.png"
                     th:src="@{/img/photo-placeholder.png}"
                     alt="tytuł znaleziska"
                     th:alt="${treasure.title}"
                     class="treasure-summary-cover"
                />
                <div class="treasure-summary-info">
                    <h1 class="treasure-summary-title" th:text="${treasure.title}">Tanie loty do Stanów na majówkę!</h1>
                    <p class="treasure-summary-category">Kategoria: <a href="#"
                                                                       th:href="@{|/category/${treasure.category}|}"
                                                                       th:text="${treasure.category}">Flights</a>
                    </p>
                    <p class="treasure-summary-item" th:text="${treasure.destination}">Kierunek: Stany Zjednoczone, Waszyngton</p>
                    <p class="treasure-summary-item" th:text="${treasure.dates}">Daty: 01-05-2023 - 09.05.2023</p>
                    <p class="treasure-summary-item" th:text="${treasure.price} + pln">Cena: 1999,00</p>
                    <p class="treasure-summary-item" th:text="${treasure.link}">Link: www.znalezione.pl/</p>
                    <p class="treasure-summary-item" th:text="${treasure.description}">
                        Nie miales okazji jeszcze nigdy zwiedziec Stanow Zjednoczonych? To Twoja szansa!
                    </p>
                </div>
            </div>
        </section>
        <section class="treasure-ads-container treasure-section">
            <img src="../static/img/ads.png"
                 th:src="@{/img/ads.png}"
                 class="treasure-summary-cover"
            />
        </section>
        <section class="treasure-section">
            <h2 class="treasure-section-heading">Co warto zobaczyc w okolicy</h2>
            <p>Stolica USA posiada wiele ikonicznych budynków, ważnych muzeów i monumentalnych pomników.
                Ich zdecydowana większość znajduje się w długim na około 4 kilometry parku National Mall lub jego sąsiedztwie.
                Oprócz miejsc tak oczywistych jak Biały Dom czy Kapitol, zwróć uwagę na tutejsze muzea, zwłaszcza te Instytutu Smithsonian – darmowe i absolutnie wyjątkowe.
                Wśród nich znajdziesz na przykład gigantyczne Muzeum Historii i Kultury Afroamerykanów, Muzeum Indian Amerykańskich,
                Muzeum Lotnictwa i Przestrzeni Kosmicznej, Archiwa Narodowe, Muzeum Amerykańskiej Historii…</p>
        </section>
    </main>
    <footer class="footer">
        <p>TravelTreasures 2023 <i class="fas fa-copyright"></i> github.com/bartkoo98</p>
    </footer>
</div>
</body>
</html>