<!DOCTYPE html>
<!-- Dodana przestrzeń nazw th -->
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>TravelTreasures</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <!-- Dynamicznie budowany adres do skryptu JS i arkusza stylów -->
  <script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
  <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>
<body>
<div class="container">
  <ul class="menu">
    <li class="menu-logo-container">
      <!-- Dynamicznie budowany adres do strony głównej -->
      <a href="#" th:href="@{/}">
        <i class="fa-sharp fa-light fa-treasure-chest"></i> TravelTreasures
      </a>
    </li>
    <li class="menu-toggle">
      <a href="#"><i id="toggle-icon" class="far fa-plus-square"></i></a>
    </li>
    <li class="menu-item">
      <a href="#" th:href="@{/admin}">Zarządzanie</a>
    </li>
    <li class="menu-item">
      <a href="#" th:href="@{/categories}">Kategorie</a>
    </li>
    <li class="menu-item">
      <a href="#">Profil</a>
    </li>
    <li class="menu-item">
      <a href="#">Zaloguj się</a>
    </li>
  </ul>
  <header class="jumbotron">
    <p class="jumbotron-description">
      Najtańsze loty, noclegi i wypożyczalnie. Dziel się z innymi swoimi skarbami i korzystaj z cudzych znalezisk!
    </p>
  </header>
<main class="main-content">
  <h2 class="list-heading">Dodaj nowe znalezisko</h2>
  <form action="" method="post" enctype="multipart/form-data" class="mc-form" th:object="${treasure}">
    <label for="title">Tytuł znaleziska</label>
    <input type="text" id="title" th:field="*{title}">
    <label>Kierunek</label>
    <input type="destination" id="destination" th:field="*{destination}">
    <label>Kiedy</label>
    <input type="number" id="releaseYear" th:field="*{dates}">
    <label>Kategoria</label>
    <select id="category" th:field="*{category}" required>
      <option value="" hidden>Wybierz kategorie</option>
      <option th:each="category: ${categories}" th:value="${category.name}" th:text="${category.name}"></option>
    </select>
    <label for="promoted">Promowanie na stronie głównej?</label>
    <input id="promoted" type="checkbox" th:field="*{promoted}">
<!--    <label for="poster">Plakat</label>-->
<!--    <input type="file" id="poster" th:field="*{poster}" accept="image/png, image/jpeg">-->
    <label>Cena</label>
    <input type="price" id="price" th:field="*{price}">
    <label>Link</label>
    <input type="link" id="link" th:field="*{link}">
    <label>Krótki opis - max 200 znaków</label>
    <textarea id="description" rows="5" th:field="*{description}"></textarea>
    <button type="submit">Dodaj</button>
  </form>
</main>
  <footer class="footer">
    <p>TravelTreasures 2023 <i class="fas fa-copyright"></i> github.com/bartkoo98</p>
  </footer>
</div>
</body>
</html>